*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
#container{
    max-width: 90%;
    margin: 0 auto;
}
/* utilitis/common code */
.btn {
	text-decoration: none;
	color: white;
	background-color: red;
	padding: 6px 12px;
	border-radius: 4px;
}
/* utilitis/common code end */
fa-angle-right{
    color: white;
}
header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: black;
	border-radius: 15px;
	margin: 20px 0 93px 0;
	padding: 10px 0 46px 0;
}
header h1 {
	font-size: 52px;
	line-height: 56px;
}
header p, h1 {
	color: white;
	margin-bottom: 26px;
}
.header-left {
	padding: 36px 40px 0 61px;
}
#main {
	display: grid;
	grid-template-columns: 270px auto;
	gap: 16px;
	grid-template-rows: 209px 455px;
}
.aside-btn {
	text-decoration: none;
	color: black;
	background-color: white;
	border-radius: 5px;
	align-self: center;
}
.btn_pad_one {
	padding: 8px 33px;
}
.btn_pad_two {
	padding: 8px 66px;
}
.btn_pad_three {
	padding: 8px 86px;
	background-color: red;
	color: white;
}
.aside {
	display: flex;
	flex-direction: column;
	gap: 12px;
	background-color: black;
	padding: 30px;
	border-radius: 9px;
}
.main-right {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 13px;
	grid-template-rows: repeat(2, 328px);
}
.card {
	display: flex;
	flex-direction: column;
	border: 1px solid #978f8f;
	border-radius: 9px;
}
.card img {
	width: 100%;
}
.card a {
	text-decoration: none;
	color: black;
}
.card-btn {
	border: 1px solid black;
	padding: 2px 13px;
}
.card-text {
	padding: 14px 9px;
}
.card-text h4 {
	padding: 14px 0;
}
.blog-icon {
	display: flex;
	gap: 30px;
}
.icon-gap{
    margin-right: 5px;
}
footer {
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 52px 0;
	margin-top: 37px;
}
.footer-bar {
	display: flex;
	gap: 26px;
	padding: 21px 0;
}
.footer-bar a {
	color: white;
	text-decoration: none;
}
footer hr {
	width: 80%;
	color: #494848;
}
.social-icon {
	display: flex;
	gap: 8px;
}
.self-socail {
	color: #888686;
	font-size: 25px;
}