*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
#container{
    max-width: 90%;
    margin: 0 auto;
}
/* utilitis/common code */
.btn {
	text-decoration: none;
	color: white;
	background-color: red;
	padding: 6px 12px;
	border-radius: 4px;
	width: 93px;
	margin: 0 auto;
}
.btn:hover{
	background-color: #6d658a;
}
/* utilitis/common code end */
header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: black;
	border-radius: 15px;
	margin: 20px 0 93px 0;
	padding: 10px 0 46px 0;
}
header h1 {
	font-size: 52px;
	line-height: 56px;
}
header p, h1 {
	color: white;
	margin-bottom: 26px;
}
.header-left {
	padding: 36px 40px 0 61px;
}
.header-right img {
	width: 100%;
}
.animate img {
	width: 17%;
}
.animate {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(44, 33, 33);
	animation-name: headerAnimate;
	animation-duration: 7s;
	border-radius: 30px;
	animation-iteration-count: infinite;
	position: relative;
	margin: 35px 0;
}
@keyframes headerAnimate {
	0%   {background-color: rgb(148, 137, 137); left:0px;}
	25%  {background-color: rgb(136, 136, 65);}
	50%  {background-color: rgb(100, 100, 156); left:100px;}
	100% {background-color: rgb(98, 127, 98); left:0px;}
  }
.text-animate {
	font-size: 22px;
}
#main {
	display: grid;
	grid-template-columns: 270px auto;
	gap: 16px;
	grid-template-rows: 209px 455px;
}
/* upcomming match */
#upcomming {
	display: grid;
	grid-template-columns: 270px auto;
	gap: 16px;
	grid-template-rows: 209px 170px;
}
.upcomming-right {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 13px;
	grid-template-rows: repeat(2, 216px);
}
.flag {
	display: flex;
	align-items: center;
	margin: 0 0 10px 0;
	gap: 0px 8px;
}
.card-gap {
	padding: 11px 7px;
	row-gap: 9px;
	align-items: center;
}
/* upcomming end */
/* all group start */
.country {
	display: flex;
	align-items: center;
}
.group-name {
	background-color: #b5a3a3;
	padding: 0px 65px;
}
.country img {
	width: 38px;
	height: 25px;
}
.country-name {
	background-color: #352d2f;
	color: white;
	padding: 2px 68px;
}
/* all group end */
.aside-btn {
	text-decoration: none;
	color: black;
	background-color: white;
	border-radius: 5px;
	align-self: center;
}
.btn_pad_one {
	padding: 8px 33px;
}
.btn_pad_two {
	padding: 8px 66px;
}
.btn_pad_three {
	padding: 8px 86px;
}
 .aside a:focus-within {
	background-color: rgb(175, 48, 48);
	color:white;
  } 
.aside a:hover {
	background-color: rgb(133, 133, 196);
	color:white;
  } 
.aside {
	display: flex;
	flex-direction: column;
	gap: 12px;
	background-color: black;
	padding: 30px;
	border-radius: 9px;
	position: sticky;
	top: 0;
}
.main-right {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 13px;
	grid-template-rows: repeat(2, 328px);
}
.card {
	display: flex;
	flex-direction: column;
	border: 1px solid #978f8f;
	border-radius: 9px;
	box-shadow: 1px 4px 5px 1px #827b7b;
}
.card img {
	width: 100%;
}
.card a {
	text-decoration: none;
	color: black;
}
.card-btn {
	border: 1px solid black;
	padding: 2px 13px;
	border-radius: 5px;
}
.card-text {
	padding: 14px 9px;
}
.card-text h4 {
	padding: 14px 0;
}
.blog-icon {
	display: flex;
	gap: 30px;
}
.icon-gap{
    margin-right: 5px;
}
.view-btn {
	display: flex;
	margin: 32px 0 0 0;
}
.display-btn {
visibility: hidden;
}
footer {
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 52px 0;
	margin-top: 37px;
}
.footer-bar {
	display: grid;
	padding: 27px 0;
	grid-template-columns: repeat(6,auto);
	gap: 35px;
}
.footer-bar a {
	color: white;
	text-decoration: none;
}
footer hr {
	width: 80%;
	color: #494848;
}
.social-icon {
	display: flex;
	gap: 8px;
}
.self-socail {
	color: #6d658a;
	font-size: 25px;
}
/* media query */

/* mobile view */
@media screen and (max-width: 576px) {
    header h1 {
        font-size: 31px;
        line-height: 40px;
    }
    .header-left {
        padding: 33px 6px 0 43px;
    }
    header {
        grid-template-columns: 1fr;
        gap:35px;
        margin-bottom: 22px;
    }
	.animate{
		width: 64%;
	}
	.text-animate {
		font-size: 17px;
	}
    .btn {
        margin: 110px;
    }
    .pragraph {
        padding: 0px 14px 0 0;
    }
    #main {
	grid-template-columns:auto;
	grid-template-rows: 215px repeat(6, 403px);
    }
	#upcomming {
		grid-template-columns: auto;
		grid-template-rows: 215px repeat(6, 202px);
	}
    .aside {
        background-color: white;
    }
    .aside-btn {
        border: 1px solid #aba1a1;
    }
    .btn_pad_two {
        padding: 8px 28px;
    }
    .btn_pad_three {
        padding: 8px 49px;
    }
    .main-right {
		grid-template-columns: auto;
		gap: 17px;
		grid-template-rows: repeat(6, 412px);
	}
    .upcomming-right {
		grid-template-columns: auto;
		gap: 17px;
		grid-template-rows: repeat(6, 215px);
	}
	.view-btn {
		margin: -147px 0 0 0;
	}
    .footer-bar {
		gap: 15px;
		grid-template-columns: auto;
	}
    .social-icon {
        margin-right: 41px;
    }
  }
  /* mobile view end */

  /* tablet view start*/
  @media screen and (min-width: 577px) and (max-width: 992px) {
    header h1 {
        font-size: 31px;
        line-height: 40px;
    }
    .header-left {
        padding: 33px 6px 0 43px;
    }
	header {
		margin: 20px 0 65px 0;
	}
	.text-animate {
		font-size: 15px;
	}
	#main {
		grid-template-columns: auto;
		grid-template-rows: 40px auto;
		gap:30px;
	}
	#upcomming {
		grid-template-columns: auto;
		grid-template-rows: 40px auto;
		gap:30px;
	}
	.upcomming-right {
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(3,208px);
	}
	.main-right {
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(3,395px);
	}
	.aside {
		flex-direction: row;
		gap: 8px;
		background-color: white;
		padding: 0px;
		justify-content: center;
	}
	.aside-btn {
		border: 1px solid #cabcbc;
	}
	.btn_pad_one {
		padding: 8px 33px;
	}
	.btn_pad_two {
		padding: 8px 40px;
	}
	.btn_pad_three {
		padding: 8px 48px;
	}
	.display-btn {
		visibility:visible;
	}
	.footer-bar {
		grid-template-columns: repeat(4,auto);
		gap: 28px;
	}
  }